html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: white;
}

body {
    margin: 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

main {
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer small {
    order: 1;
}

header img {
    height: 60px;
}

main img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

sup {
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
}

a, select, small {
    font-size: 1rem;
}

a:link, a:visited {
    color: white;
}

:root {
    --box-size: 200px;
  }

.scence {
    position: relative;
    transform-style: preserve-3d;
    animation: rotateY 13s infinite linear;
  }
  
  .box {
    height: var(--box-size);
    width: var(--box-size);
    position: relative;
    transform-style: preserve-3d;
  }
  
  .heart {
    font-family: sans-serif;
    height: var(--box-size);
    width: var(--box-size);
    position: absolute;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translateX(270deg);
    animation: rotateY 13s infinite linear reverse;
  }

  .heart::before {
    content: "🤍";
    transform: rotate(60deg);
    font-size: 100px;
  }
  
  .top,
  .bottom,
  .left,
  .right,
  .front,
  .back {
    position: absolute;
    height: var(--box-size);
    transform-style: preserve-3d;
    width: var(--box-size);
    background-color: rgba(20, 116, 241, 0.281);
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.794),
      inset 0 0 16px rgba(0, 0, 0, 0.746);
  }
  .front {
    transform: translateZ(2.5em);
  }
  
  .right {
    transform: rotateY(270deg) translateZ(2.5em);
  }
  .back {
    transform: rotateY(180deg) translateZ(2.5em);
  }
  .left {
    transform: rotateY(90deg) translateZ(2.5em);
  }
  
  .top {
    transform: translateY(-50%) rotateX(90deg);
  }
  .bottom {
    bottom: calc(-1*var(--box-size));
    transform: translateY(-50%) rotateX(90deg);
  }
  
  @keyframes rotateY {
    to {
      transform: rotateY(360deg);
    }
  }
  